@model IEnumerable<DefectTracker.Models.DefectStatus>
@{
    ViewBag.Title = "Defect Status";
}
<h2>
    Defect Status List
</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", "DefectStatusMVC")
</p>
@if (TempData["Message"] != null)
{
    <p>
        @TempData["Message"].ToString()
    </p>
}

<fieldset>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</fieldset>